<!-- views/profile.ejs -->
<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.1/angular-route.min.js"></script>
    <script type="text/javascript" src="javascripts/client/application.js"></script>
    <script type="text/javascript" src="javascripts/client/controllers/uploadCtrl.js"></script>
    <script type="text/javascript" src="javascripts/client/controllers/resultsCtrl.js"></script>
    <script type="text/javascript" src="javascripts/client/controllers/historyCtrl.js"></script>
    <script type="text/javascript" src="javascripts/client/services/numbersAlgorithm.js"></script>
    <script type="text/javascript" src="javascripts/client/services/dataProvider.js"></script>
    <script type="text/javascript" src="javascripts/client/directives/fileUpload.js"></script>

</head>
<body ng-app="MyApp">
<div class="container-fluid">
  <nav class="nav">
    <ul>
      <li><a class="btn btn-default btn-sm" href="#results">All Numbers</a></li>
      <li><a class="btn btn-default btn-sm" href="#history">Upload History</a></li>
      <li><a class="btn btn-default btn-sm" href="#upload">Upload Tool</a></li>
      <li id="logoutHelper"><a class="btn btn-default btn-sm" href="/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Welcome <%= user.local.email %>! </h1>
  </div>

  <div ng-view></div>



</div>
</body>
</html>
