<!-- Upload History Partial -->
<div class="row">
  <div class="col-sm-3"></div>
  <div ng-controller="historyCtrl" class="col-sm-6">
    <div class="well">
      <h3><span class="fa fa-user"></span></h3>
      <div ng-if="phoneUploads">
        <h2 class="black">Upload History:</h2>
        <br>
        <div class="well" ng-repeat="upload in phoneUploads">
          <p>Date: {{upload.date}} | Numbers: {{upload.amount}}</p>
          <ul>
            <li ng-repeat="number in upload.list">{{number}}</li>
          </ul>
        </div>
        <br>
      </div>

    </div>
  </div>
  <div class="col-sm-3"></div>
</div>