<!-- Upload Partial -->
<div class="row" ng-controller="uploadCtrl">

    <div class="col-sm-6">
      <div class="well">
        <h3 id="inputDirections">Upload Number Files</h3>
        <br>
        <hr>
        <br>
        <input type="file" on-read-file="showContent($fileContent)" accept="text/plain" required>


      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span></h3>
          <div ng-if="content">
            <h2>Decoded File Content:</h2>
            <pre ng-repeat="(key, value) in decoded">{{key}}:{{ value }}</pre>
            <br>
            <a class="btn btn-default btn-sm" ng-click="submit()" href>Save Numbers</a>
          </div>

      </div>
    </div>

  </div>