<!-- Upload Partial -->
<div class="row" ng-controller="uploadCtrl">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="well">
        <input value="Choose Number File" type="file" on-read-file="showContent($fileContent)" accept="text/plain" required>
        <br>
        <hr>
        <div ng-if="content">
          <div>
            <h2 class="black">Decoded File Content:</h2>
            <a id="floatRight" class="btn btn-default btn-sm" ng-click="submit()" href>Save Numbers</a>
          </div>
            <br>
            <br>
            <pre ng-repeat="(key, value) in decoded">{{key}}:{{ value }}</pre>
            <br>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>

</div>