html, body {
  height: 100%;
  width: 100%;
}


#wrapper {
  height: 100%;
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
  }



#main {
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
  display: block;
  text-align: center;
}

#main h3 {
  display: block;
  margin-bottom: 30px;
}

#loginButton {
  border: 1px solid black !important;
}

.well {
  min-height: 250px !important;
}

#inputDirections {
  text-align: center;
}

/*Nav bar styling*/

.nav {
  position: relative;
  margin: 20px 0;
}

.nav ul {
  margin: 0;
  padding: 0;
  text-align: left;
  }

.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.nav a {
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
}

.nav a:hover {
  color: #000;
}

.nav .current a {
  background: #999;
  color: #fff;
  border-radius: 5px;
}

#logoutHelper {
  float: right;
}

/*done with nav styling*/